* {
    font-family: 'Ubuntu', sans-serif;
}

.page {
    background: rgb(244,242,19);
    background: linear-gradient(90deg, rgba(244,242,19,1) 25%, rgba(244,242,19,1) 65%, rgba(85,61,236,1) 75%);
    height: 100vh;
   }
img {
    border-radius: 200px;
    border: 12px #ffffff;
    border-style: dashed;
    transform: rotate(-45deg);
    width: 400px;
}
div > h1 {
    font-size: 60px;
    margin-top: 160px;
    margin-bottom: -60px;
}

.knife:hover {
    display: inline-block;
    cursor: pointer;
    transform: rotate(1795deg);
    transition: all 2s ease-in-out 0s;
}
.knife {
    display: inline-block;
    transform: rotate(-1795deg);
    transition: all 2s ease-in-out 0s;
}